@charset "utf-8";
.keyword-red, .keyword-red > * {
    color: #F00 !important
}

.keyword-pink, .keyword-pink > * {
    color: #ff5384 !important
}

.keyword-blue, .keyword-blue > * {
    color: #06F !important
}

.keyword-green, .keyword-green > * {
    color: #093 !important
}

.keyword-orange, .keyword-orange > * {
    color: #FC0 !important
}

.keyword-blue-pale, .keyword-blue-pale > * {
    color: #09C !important
}

.keyword-gray, .keyword-gray > * {
    color: #afafaf !important
}

.keyword-black, .keyword-black > * {
    color: #000000 !important
}

table tr:hover td {
    background: #F0F8FF
}

.user_adjust_public {
    padding: 25px 0 0 !important
}

.user_adjust_topbar {
    height: 50px !important;
    line-height: 50px !important
}

.user_adjust_topbar {
    border-bottom: 1px solid #eee !important
}

.user_adjust_topbar .layout_center {
    border-bottom: none !important
}

.user_adjust_topbar ul a {
    color: #000 !important
}

.user_adjust_topbar ul li {
    margin: 0 !important;
    margin-right: 20px !important
}

.us_text_left {
    text-align: left !important
}

.us_text_right {
    text-align: right !important
}

.us_text_center {
    text-align: center !important
}

#page_Auser {
    color: #353535;
    background: #f7f7f7;
    padding: 10px 0 20px 0;
}

#page_Auser #us_fr {
    background: #ffffff;
    border: 1px solid #eeeeee
}

#page_Auser #us_fl {
    width: 190px;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    background: #ffffff
}

#page_Auser #us_fr {
    width: 980px;
    margin-left: 16px
}

#page_Auser .us_adjust_padding, #page_Auser .us_adjust_padding2 {
    text-align: center
}

#page_Auser .us_adjust_padding {
    padding: 20px 40px 40px
}

#page_Auser .us_adjust_padding2 {
    padding: 20px 0 40px
}

.leves-levesbar {
    padding: 20px;
    position: relative
}

.leves-levesbar-wrap {
    height: 4px;
    margin: 22px 0;
    position: relative
}

.leves-levesbar-item {
    height: 4px;
    float: left;
    position: relative;
    background: #eeeeee
}

.leves-circles {
    width: 25px;
    height: 25px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    background: #dddddd
}

.leves-circles, .leves-text {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 5
}

.leves-circles {
    top: -11px
}

.leves-text {
    top: 17px;
    font-size: 14px;
    text-align: center
}

.leves-next-step, .leves-next-step .leves-circles {
    background: #ff5384
}

.amont_line {
    width: 100px;
    display: inline-block;
    border: 1px solid #dddddd
}

.amont_line, .amont_line_btn, .amont_line_text {
    height: 30px;
    line-height: 30px
}

.amont_line {
    overflow: hidden
}

.amont_line_btn, .amont_line_text {
    float: left
}

.amont_line_text {
    width: 38px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd
}

.amont_line_btn {
    width: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold
}

.amont_line_btn:active {
    border-color: #81c7ff;
    background-color: #e3f2ff
}

#us_fl .us_uint {
    position: relative;
    border-bottom: 1px solid #dddddd
}

#us_fl .us_uint_list {
    padding: 12px 0
}

#us_fl .us_uint_list li {
    height: 42px;
    line-height: 42px;
    padding-left: 30px
}

#us_fl .us_uint_list a:hover, #us_fl li.cur a {
    color: #ff5384;
    font-size: 15px;
    font-weight: bold
}

#us_fl .us_uint_menu {
    top: -10px;
    left: 25px;
    z-index: 100;
    padding: 0 5px;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    background: #ffffff
}

.us_qrcode {
    margin-top: 10px
}

.us_qrcode_img img {
    width: 110px;
    height: 40px
}

.us_qrcode_img, .us_qrcode_text {
    vertical-align: text-bottom
}

.us_ChildPage {
    min-height: 500px
}

.us_ChildPage .us_button {
    border: none;
    font-size: 14px;
    line-height: 35px;
    padding: 0 20px;
    display: inline-block
}

.us_ChildPage .us_button:hover {
    opacity: .8;
    filter: Alpha(opacity=90);
    color: #ffffff
}

.us_ChildPage .us_button_primary {
    background: #03A9F4
}

.us_ChildPage .us_button_warn {
    background: #F44336
}

.us_ChildPage .us_button_success {
    background: #4CAF50
}

.us_ChildPage .us_button_material {
    color: #000 !important;
    background: #f0f0f0;
    background: -webkit-linear-gradient(top, #fff, #f5f5f5, #f0f0f0);
    border: 1px solid #eee;
    border: 1px solid rgba(144, 144, 144, 0.6);
}

.us_ChildPage .us_button_hold {
    padding: 0;
    width: 90px;
    background: #ffffff;
    border-radius: 0;
    color: #000000 !important;
    border: 1px solid #cccccc
}

.us_ChildPage .us_button_medium {
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: 15px
}

.us_ChildPage .us_button_big {
    width: 200px;
    line-height: 50px;
    font-size: 18px
}

.us_ChildPage .us_button_small {
    height: 28px;
    padding: 0 0;
    line-height: 28px;
    width: 70px
}

.us_ChildPage .us_searchbar {
    margin-top: 20px;
    line-height: 33px
}

.us_searchbar_text, .us_searchbar_btns {
    height: 33px;
    border: none;
    line-height: 33px
}

.us_searchbar_box {
    width: 318px;
    height: 33px;
    border: 1px solid #dfdfdf
}

.us_searchbar_text {
    width: 215px;
    padding: 0 10px;
    position: relative
}

.us_searchbar_text:focus {
    z-index: 100;
    box-shadow: 0 0 0 1px #ff5384
}

.us_searchbar_btns {
    width: 83px;
    background: #f7f7f7;
    border-left: 1px solid #dfdfdf
}

.us_searchbar_item {
    position: relative;
    padding-right: 65px
}

.us_searchbar_item .us_button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 2px;
    background: #ececec;
    border: 1px solid #ccc;
    color: #666;
    width: 60px
}

.us_searchbar_topbar {
    text-align: center;
    line-height: 35px;
    margin-bottom: 20px
}

.us_searchbar_topbar a {
    float: left;
    width: 61px;
    height: 35px;
    text-align: center;
    border: 1px solid #d1d1d1;
    margin-left: -1px;
    position: relative
}

.us_searchbar_topbar .cur, .us_searchbar_topbar a:hover {
    border-color: #f30;
    z-index: 1;
    color: #f30;
    font-weight: bold
}

.us_ChildPage .us_ChildHead {
    font-size: 16px;
    padding-bottom: 10px
}

.us_PageCut {
    margin-top: 40px
}

.us_PageCut a {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #cccccc
}

.us_PageCut .cur, .us_PageCut a:hover {
    color: #ffffff;
    background: #ff5384;
    border-color: #ff5384
}

.us_input, .us_select, .us_input_area {
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    border-radius: 2px;
    border: 1px solid #D1D1D1
}

.us_select {
    width: 250px;
    line-height: normal
}

.us_input, .us_input_area {
    width: 228px
}

.us_input:focus, .us_input_area:focus {
    box-shadow: 0 0 1px #09F;
    border-color: #09F !important
}

.us_input:hover, .us_input_area:hover {
    border-color: #aaaaaa
}

.us_select:hover {
    border-color: #cccccc
}

.us_select:active {
    border-color: #09F;
    background: #f0f0f0
}

.us_input_area {
    height: 3em;
    padding: 10px;
    line-height: 22px;
    width: 400px;
}

.us_newTable {
    margin-top: 20px;
    padding: 0 50px
}

.us_CashTable, .us_Fllow_table, .us_OrderTable, .us_CustomTable, .us_Finan_table, .us_GoodsTable {
    margin-top: 15px;
    min-height: 350px;
}

.us_newTable_title {
    text-align: left;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-bottom: none;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 15px;
    line-height: 28px;
    height: 28px
}

.us_newTable_content {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left
}

.us_ChildPage table {
    color: #666
}

.us_ChildPage table, us_ChildPage tr, .us_ChildPage th, .us_ChildPage td {
    border: 1px solid #dfdfdf
}

.us_ChildPage table {
    text-align: center
}

.us_ChildPage th {
    padding: 10px 0;
    color: #000000;
    font-size: 14px;
    background: #f5f5f5
}

.us_ChildPage td {
    color: #666666;
    font-size: 13px;
    padding: 10px 0;
}

.us_ChildPage td a:hover, .us_ChildPage td a:hover {
    color: #f00
}

.clear-table-all table, .clear-table-all tr, .clear-table-all td, .clear-table-all th, .clear-table table, .clear-th th, .clear-td td {
    border: none
}

.clear-th-topOutside th, .clear-td-topOutside td {
    border: none;
    border-top: 1px solid #dfdfdf
}

.clear-th-leftOutside th, .clear-td-leftOutside td {
    border: none;
    border-left: 1px solid #dfdfdf
}

.clear-th-rightOutside th, .clear-td-rightOutside td {
    border: none;
    border-right: 1px solid #dfdfdf
}

.clear-th-bottomOutside th, .clear-td-bottomOutside td {
    border: none;
    border-bottom: 1px solid #dfdfdf
}

.clear-table-color table, .clear-thead-color thead, .clear-tr-color tr, .clear-th-color th, .clear-td-color td {
    background: #ffffff;
}

.us_ChildPage .us_Topbar {
    font-size: 16px;
    line-height: 35px;
    border-bottom: 2px solid #eeeeee
}

.us_ChildPage .us_Topbar li {
    padding: 0 15px;
    display: inline-block;
    position: relative;
    bottom: -2px;
    border-bottom: 2px solid transparent
}

.us_ChildPage .us_Topbar li:hover, .us_ChildPage .us_Topbar li.cur {
    border-color: #ff5384
}

.us_ChildPage .us_Topbar a:hover, .us_ChildPage .us_Topbar li:hover a, .us_ChildPage .us_Topbar li.cur a {
    color: #ff5384
}

.us_ChildPage .us_Topbar .layout_fr a {
    color: #777777;
    font-size: 14px;
    margin-left: 10px
}

.cos_span_empty, .cos_span {
    display: inline-block
}

.cos_span {
    padding: 0 10px
}

.cos_span_ellipsis_s1, .cos_span_ellipsis_s2, .cos_span_ellipsis_s3, .cos_span_ellipsis_s4, .cos_span_ellipsis_s5, .cos_span_ellipsis_1, .cos_span_ellipsis_2, .cos_span_ellipsis_3, .cos_span_ellipsis_4, .cos_span_ellipsis_5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.cos_span_ellipsis_s1 {
    max-width: 350px
}

.cos_span_ellipsis_s2 {
    max-width: 340px
}

.cos_span_ellipsis_s3 {
    max-width: 330px
}

.cos_span_ellipsis_s4 {
    max-width: 320px
}

.cos_span_ellipsis_s5 {
    max-width: 280px
}

.cos_span_ellipsis_1 {
    max-width: 220px
}

.cos_span_ellipsis_2 {
    max-width: 200px
}

.cos_span_ellipsis_3 {
    max-width: 180px
}

.cos_span_ellipsis_4 {
    max-width: 150px
}

.cos_span_ellipsis_5 {
    max-width: 100px
}

.cos_span ins, .cos_span_empty ins {
    color: #888888;
    text-decoration: line-through
}

.cos_span em, .cos_span_empty em {
    font-weight: bold
}

.us_ChildPage .us_Topbar_adjust {
    border-width: 1px;
    line-height: 40px
}

.us_ChildPage .us_Topbar_adjust a {
    padding: 0 20px
}

.us_ChildPage .us_InputAll {
    width: 700px;
    text-align: left;
    margin: 12px auto auto
}

.us_ChildPage .item {
    position: relative;
    padding-left: 100px;
    margin-bottom: 15px
}

.us_ChildPage .item_label {
    width: 70px;
    left: 0;
    top: 8px;
    font-size: 14px;
    text-align: right;
    position: absolute;
    padding-right: 30px
}

.item_image {
    width: 145px;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #bbbbbb
}

.item_image img {
    width: 100%;
    margin: auto;
    display: block
}

.us_ChildPage .item_label em {
    color: #f30
}

.us_ChildPage .item_addtext {
    color: #f00;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle
}

.us_input_long, .us_input_area_long {
    width: 500px !important
}

.us_input_area_long {
    height: 150px !important
}

.us_select_small {
    width: 150px
}

.us_select_small2 {
    width: 110px
}

.us_input_small {
    width: 158px
}

.us_input_unifo, .us_input_unifo_area {
    width: 315px
}

.us_code_adjust {
    width: 155px;
    position: relative;
    padding-right: 95px
}

.us_code_adjust .us_input {
    width: 130px
}

.us_code_adjust .us_button {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 35px
}

.us_ChildPage .us_article {
    margin-top: 15px
}

.us_ChildPage .us_article {
    white-space: pre-wrap;
    _white-space: pre-wrap;
    font-size: 14px;
    color: #696969
}

.us_PageUint8 .us_unit_top {
    margin-top: 10px
}

.us_unit_top {
    text-align: left;
    background: #eeeeee;
    border: 1px solid #dfdfdf
}

.us_unit_top .title {
    font-weight: bold;
    border-bottom: 1px solid #ffffff
}

.us_unit_top .title, .us_unit_top .font {
    padding: 10px 15px
}

.us_unit_top .font p {
    padding-top: 5px
}

.us_unit_list {
    margin-top: 30px
}

.us_unit_list, .us_unit_table {
    font-size: 12px
}

.us_unit_list table {
    text-align: center
}

.us_unit_table {
    margin-top: 20px;
    text-align: left
}

.us_order_line {
    height: 35px;
    padding: 0 15px;
    line-height: 35px;
    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-bottom: none
}

.us_order_line span {
    margin-right: 25px;
    display: inline-block
}

.us_unit_table .img {
    padding: 0 10px
}

.us_unit_table img {
    width: 100px;
    margin-right: 8px;
    min-height: 100px
}

.us_unit_table img, .us_unit_table .img span {
    display: inline-block;
    vertical-align: middle
}

.us_unit_table .img span {
    width: 100px;
    height: 80px;
    text-align: left;
    overflow: hidden;
    line-height: 16px
}

.us_unit_table .us_button {
    width: 80px
}

.us_searchbar_adjust {
    padding: 0 50px
}

.us_searchbar_adjust .us_button {
    height: 35px;
    line-height: 35px
}

.us_Fllow_item {
    text-align: left
}

.us_Fllow_item .item {
    padding: 20px 70px;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 0
}

.us_Fllow_item .item_name {
    width: 140px;
    display: inline-block
}

.us_Fllow_item .item_adjust {
    border: none
}

.us_InputAll_adjust2 {
    width: 750px !important
}

.us_InputAll_adjust2 .item {
    width: 270px;
    display: inline-block
}

.us_InputAll_adjust .item_image {
    width: 200px;
}

.us_InputAll_adjust .item_addtext {
    right: 25px;
    bottom: 120px
}

.us_InputAll_adjust .item {
    margin-bottom: 30px
}

.us_figure {
    margin-top: 20px;
    text-align: left;
}

.us_figure_head {
    font-size: 13px
}

.us_figure_content {
    min-height: 150px;
    max-height: 200px;
    overflow: hidden;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid #dddddd
}

.us_figure_content img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    display: inline-block
}

.us_figure_ctrl {
    margin-top: 15px;
    text-align: right
}

.us_adjust_fr {
    margin: 0 !important;
    width: auto !important
}

.us_adjust_text .item {
    padding-left: 200px
}

.us_adjust_text .item_label {
    width: 170px
}

.item_image2 {
    width: 200px;
}

.item_image3 {
    width: 250px;
}

.item_image4 {
    width: 150px;
    margin: 0 10px 10px 0
}

.item_image, .us_InputAll_adjust .item_image, .item_image2, .item_image3, .item_image4 {
    min-height: 100px;
}

.item_image4 {
    height: 150px;
}

.item_hide {
    color: #cccccc
}

.us_layout_align {
    position: relative;
    min-height: 560px;
    color: #555555
}

.item_image_text, .align_center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.item_image_text {
    width: auto !important
}

.align_center {
    width: 600px;
    padding: 30px 40px;
    font-size: 20px;
    line-height: 70px;
    margin: 100px auto;
    min-height: 200px
}

.us_msg_icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin: -5px 15px 0
}

.us_msg_icon {
    background-position: -394px -89px
}

.us_msg_te2 {
    color: #aaaaaa
}

.us_msg_te3 {
    color: #ff5384
}

.us_message {
    color: #000000
}

.us_message a {
    font-size: 13px;
    text-decoration: underline
}

.us_unit_table table tr:hover td {
    background: #ffffff
}

.buy_advem td {
    text-align: left
}

.buy_advem .first {
    text-align: center
}

.buy_advem .us_button {
    margin-top: 40px
}

.us_Fllow_item_adjust {
    border-top: 1px solid #dfdfdf;
    font-size: 14px
}

.us_Fllow_item_adjust .item {
    margin: 0
}

.us_Fllow_item_adjust p {
    padding: 5px 0
}

.us_Fllow_pre1, .us_Fllow_pre3 {
    font-size: 12px;
    color: #999999
}

.us2_PageUint2 .us_buycar_check {
    wwidth: 50px;
    margin-top: 75px
}

.us_buycar li {
    margin-bottom: 20px
}

.us_buycar {
    min-height: 500px;
    margin-top: 10px
}

.us2_PageUint2 .us_unit_table {
    width: 880px;
    margin: 0
}

.us2_PageUint2 .us_buycar_check {
    width: 50px;
    margin-top: 75px
}

.us_buycar table tr:hover td {
    background: #ffffff
}

.us_bottom_bar {
    border: 1px solid #dfdfdf;
    border-left: none;
    font-size: 15px;
    border-right: none;
    height: 60px;
    line-height: 60px
}

.us_bottom_bar a, .us_bottom_bar {
    color: #666666
}

.us_bottom_bar .us_buycar_check {
    margin: 0
}

.us_bottom_bar .us_button {
    width: 140px;
    height: 60px;
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 60px
}

.us_buycar_state span a:hover {
    color: #ff5384
}

.us2_PageUint5 {
    font-size: 12px
}

.us2_PageUint5 th {
    font-size: 12px;
    background: #ffffff
}

.us2_PageUint5 td {
    border-bottom: 1px dashed #dfdfdf
}

.us2_PageUint5 .cos_span i {
    color: #ffffff;
    font-size: 12px;
    padding: 0 2px;
    background: #999999
}

.us_Fllow_first {
    text-align: left
}

.us_Fllow_first_th {
    padding: 20px 0 30px 0 !important
}

.us_Fllow_first_title {
    color: #333333;
    padding: 5px 0 !important;
    border-bottom: 1px solid #999 !important
}

.us_Fllow_first a {
    min-width: 75px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #cccccc;
    background: #f2f2f2;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #ffffff, #f6f6f6, #f0f0f0);
    background: linear-gradient(to bottom, #ffffff, #f6f6f6, #f0f0f0)
}

.us_Fllow_first a:active {
    border-color: #0CF;
    background: #E6F2FF
}

.us_shaidan_wrap {
    margin-top: 15px;
    text-align: left
}

.us_shaidan_tab {
    border-bottom: 2px solid #ff5384
}

.us_shaidan_tab a {
    padding: 5px 10px;
    display: inline-block;
    font-size: 14px;
    background: #f0f0f0
}

.us_shaidan_tab .current {
    color: #ffffff;
    background: #ff5384
}

.align_adjust_center {
    line-height: 40px
}

.align_adjust_center .us_msg_te1 {
    font-size: 30px;
    font-weight: bold
}

.align_adjust_center .us_message {
    font-size: 15px
}

.user-allorder {
    width: 600px
}

.user-allorder .leves-levesbar-item {
    width: 16%
}

.us2_PageUint7 .us_unit_list table {
    text-align: left
}

.us_input_radios_wrap {
    line-height: 35px;
    margin-right: 20px
}

.us_input_radios_wrap span {
    vertical-align: middle
}

.us2_PageUint7 .us_InputAll {
    width: 450px
}

.us_unit_down {
    text-align: right;
    margin-top: 15px
}

.us_play_unit {
    padding: 20px 20px 0
}

.us_play_unit .us_button {
    width: 120px
}

.us_play_address {
    font-size: 14px;

    position: relative;
    padding-right: 140px;
    line-height: 30px
}

.us_play_address .address_add {
    position: absolute;
    right: 15px;
    top: 20px
}

.us_play_address .address_text {
    position: relative;
    padding-right: 70px
}

.us_play_address .address_words {
    padding-left: 10px
}

.us_play_address .address_edits {
    position: absolute;
    right: 15px;
    top: 0;
    display: none
}

.us_play_address .address_text:hover {
    background: #FFF0F0
}

.us_play_address .address_text:hover .address_edits {
    display: block
}

.us_play_address a {
    color: #2196F3
}

.us_play_go, .us_play_btn {
    text-align: right;
    font-size: 14px
}

.us_play_go, .us_play_btn {
    padding-top: 5px
}

.us_play_go p {
    margin-bottom: 10px
}

.us_play_btn .us_button {
    width: 140px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border-radius: 0
}

.us_unit_list_down {
    background: transparent !important
}

.us_adjust_fr_bg {
    background: #f7f7f7 !important;
    border: none !important
}

.us_adjust_fr_bg .us_unit_list {
    background: #fff;
    padding: 20px 0;
    margin: 0 0 15px 0;
    text-align: left
}

.us_adjust_fr_bg .us_unit_table {
    margin-top: 0
}

.us_adjust_fr_bg td {
    border: 1px solid #dfdfdf
}

.user-play {
    width: 600px;
    margin: auto
}

.user-play .leves-levesbar-item {
    width: 33.3%
}

.us_unit_list .title {
    padding: 0 15px 15px;
    border-bottom: 1px solid #ddd;
    font-weight: bold
}

.user-allorder {
    width: 600px
}

.user-allorder .leves-levesbar-item {
    width: 16%
}

.us2_PageUint7 .us_unit_list table {
    text-align: left
}

.us_collH {
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}

.us_collH_btn {
    display: block;
    width: 150px;
    float: left;
    text-align: center;
    border-right: 1px solid #ddd;
    margin-top: 0px;
    font-size: 14px;
    position: relative;
}

.us_collH .cur {
    top: 1px;
    border-bottom: 1px solid #fff;
    color: #ff5384
}

.us_child_collH {
    padding: 15px 10px 25px 0;
}

.us_child_collH a {
    display: inline-block;
    font-size: 12px;
    padding: 8px 10px;
    min-width: 55px;
    text-align: center;
}

.us_child_collH .cur {
    background: #ff5384;
    color: #fff;
}

.us_switBlock_list {
    padding: 0 10px;
}

.us_coll_wrap {
    width: 980px;
}

.us_coll_wrap li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.us_coll_div {
    width: 210px;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    position: relative;
}

.us_coll_div img {
    width: 100%;
}

.us_coll_by {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background: #000;
    top: 0;
    right: 0;
    opacity: .85;
    filter: alpha(opacity:85);
}

.us_coll_del {
    display: block;
    height: 28px;
    background: url(img/krU52174873nC.jpg);
}

.us_comdity li {
    position: relative;
    padding: 10px 10px 10px 100px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.us_comdity_option {
    position: absolute;
    left: 10px;
    width: 80px;
    top: 10px;
}

.us_comdity_option span {
    cursor: pointer;
    font-size: 12px;
    color: #616161;
    border: 1px solid #c5c5c5;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #ffffff;
    background: -webkit-linear-gradient(top, #fff, #f6f6f6, #f0f0f0);
    border-radius: 2px;
    box-shadow: 1px 1px rgb(232, 232, 232);
}

.us_comdity_content {
    width: 100%;
    min-height: 60px;
    color: #40312c;
    white-space: pre;
    word-break: break-all;
}

.us_comdity_option span:hover {
    background: #f0f0f0;
    color: #000000;
}

.us_comdity_content img {
    width: 100%;
}

.us_play_address .address_text, .us_ChildPage .us_Topbar a, .us_ChildPage .us_button, .us_searchbar_text, .us_PageCut a, .us_input, .us_input_area, .us_select {
    -webkit-transition: background .123s linear, border .145s cubic-bezier(0.4, 0, 1, 1), -webkit-box-shaodw .145s cubic-bezier(0.4, 0, 1, 1), -webkit-transform .15s linear, -webkit-filter .123s linear, width .123s linear, height .123s linear, opacity .123s linear;
    -moz-transition: background .123s linear, border .145s cubic-bezier(0.4, 0, 1, 1), -moz-box-shaodw .145s cubic-bezier(0.4, 0, 1, 1), -moz-transform .15s linear, -moz-filter .123s linear, width .123s linear, height .123s linear, opacity .123s linear;
    transition: background .123s linear, border .145s cubic-bezier(0.4, 0, 1, 1), box-shaodw .145s cubic-bezier(0.4, 0, 1, 1), filter .123s linear, transform .15s linear, width .123s linear, height .123s linear, opacity .123s linear
}

.field-input {
    margin-left: 80px;
}

.classify-list{
    float: right;
    text-align: right;
    margin: 1em 0;
}

.classify-list a{
    color: #ff5384;
    font-size: 16px;
    margin-left: 1em;
    padding: 5px;
}
.classify-list a.current_video_classify{
    background-color:#ff5384 ;
    color: #ffffff;
}