<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="D:\Code\web\huiwedding\src\com\mylifes1110\java\bean" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>